.post_content
{
  padding-left: 40px;
  padding-right: 100px;
  padding-top: 305px;
}
.post_content_text
{
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}
.post
{
	margin: 0px;
	width: 100%;
	height: 300px;
	margin-bottom: 3px;
}
.redminote41
{
	background: url(contentpics/1.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.redminote42
{
	background: url(contentpics/2.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.asus_gl552vw1
{
	background: url(contentpics/3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.asus_gl552vw2
{
	background: url(contentpics/4.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.asus_gl552vw3
{
	background: url(contentpics/5.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.xps151
{
	background: url(contentpics/6.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.xps152
{
	background: url(contentpics/7.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.xps153
{
	background: url(contentpics/8.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.iphone71
{
	background: url(contentpics/9.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.iphone72
{
	background: url(contentpics/10.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.iphone73
{
	background: url(contentpics/11.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_notebook1
{
	background: url(contentpics/12.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_notebook2
{
	background: url(contentpics/13.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_notebook3
{
  background: url(contentpics/14.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.microsoft_surfacepro1
{
	background: url(contentpics/15.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.microsoft_surfacepro2
{
  background: url(contentpics/16.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.microsoft_surfacepro3
{
  background: url(contentpics/17.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.macbook_pro1
{
  background: url(contentpics/18.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.macbook_pro2
{
  background: url(contentpics/19.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.macbook_pro3
{
  background: url(contentpics/20.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_mix1
{
  background: url(contentpics/21.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_mix2
{
  background: url(contentpics/22.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
.mi_mix3
{
  background: url(contentpics/23.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
