
.post_footer
{
  background-image: url(image/blackgrad2.png);
  height:300px;
  width: 100%;
}
.post_head
{
  color: #fff;
  font-size: 30px;
  margin-left: 15px;
  font-family: 'Oswald', sans-serif;
  float: left;
  margin-top: 250px;
}
.post_head_pink
{
  color: #FF1F4B;
}
.post_content
{
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 305px;
}
.post_content_text
{
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}
.post_sub
{
  font-size: 20px;
  color: #fff;
  float: left;
  font-family: 'Roboto Slab', serif;
  float: left;
  margin-top: 263px;
  margin-left: 10px;
}
.post_sub_pink
{
 color: #fff;
}
.post0
{
	margin: 0px ;
	background: url(postpics/0.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width: 100%;
	height: 300px;
	margin-bottom: 3px;
}
.post1
{
	margin: 0px ;
	background: url(postpics/1.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width: 100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.post2
{
	margin: 0px;
	background: url(postpics/2.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width: 100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.post3
{
	margin: 0px;
	background: url(postpics/3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width: 100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.post4
{
	margin: 0px ;
	background: url(postpics/4.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width:100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.post5
{
  margin: 0px ;
  background: url(postpics/5.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width:100%;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 3px;
}
.post6
{
  margin: 0px ;
  background: url(postpics/6.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width:100%;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 3px;
}
.post7
{
  margin: 0px ;
  background: url(postpics/7.html) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    width:100%;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 3px;
}